.container {
  position: relative;
  padding: 10px;
}

.block-enter {
  opacity: 0.01;
}

.block-enter.block-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.block-leave {
  opacity: 1;
}

.block-leave.block-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
